* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
}

.container {
  width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}
@media (max-width: 768px) {
  .title h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}
.title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .title p {
    font-size: 14px;
    line-height: 25px;
  }
}

a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: 350ms 100ms;
  transition: 350ms 100ms;
}

a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}